h1{
    display: block;
    font-size: medium;
    font-weight: bold;
    color:#2c225d
}

body {
    background-color: aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.main-profile{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #000000;
}

button{
    padding: 12px 25px;
    font-size: 16px;
    background-color: 3px solid #2c225d;
    color: aqua;
    border: 3px solid #000000;
    border-radius: 8px;
    cursor: pointer;
}
.container{
text-align: center;

}

.about-box {
    display: none;
    width: 700px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid #000000;
    background-color: #ffffff;
    display: flex;
    gap: 20px;
}


.about-left {
    width: 65%;
    text-align: left;
    font-size: 16px;
}

.desc {
    margin-top: 10px;
}


.about-right {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-right img {
    width: 100%;
    height: 120px;
    border-radius: 0;
    object-fit: cover;
    border: 2px solid #000000;
}


